{% extends 'core/base.html' %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- Cabecera -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/intro.jpg' %}" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Déjate sorprender</span>
          <span class="section-heading-lower">Te gustará</span>
        </h2>
        <p class="mb-3">Trabajamos sólo con los mejores ingredientes. Una vez lo pruebes, nuestro café será la mejor forma de empezar tu rutina diaria.
        </p>
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="{% url 'books' %}">Libros</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Mensaje -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Info de la editorial</span>
            <span class="section-heading-lower">Cosas varias</span>
          </h2>
          <p>
            <li><strong>Autores:</strong> {{ num_authors }}</li>
            <li><strong>Libros:</strong> {{ num_books }}</li>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>

          </p>
        </div>
      </div>
    </div>
  </div>
</section>    


<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Ultimas publicaciones</span>
            <span class="section-heading-lower">Novedades</span>
          </h2>
          <p>
            {% for book in books %}
                <b>Título:</b> {{ book.title }} <br>
                <b>Autor:</b> {{ book.autor}} <br>
                <b>Descripcion:</b> {{ book.description }} <br>
                <b>Publicado:</b> {{ book.created }}<br>
                <a href="{% url 'book' book.id %}">Ver más</a> <br><br>
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>  

{% endblock %}